// About

.title{
    font-size: 32px;
    line-height: 39px;
    font-weight: 400;

        &::after{
            content: '';
            display: block;
            margin-top: 10px;
            width: 10%;
            height: 4px;
            background-color: $color-primary;
    }
}
.about{
    padding: 160px 0;
}
.subtitle{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
}
.site__par{
    font-size: 14px;
    line-height: 24px;
    color: #00000066;
    margin-bottom: 40px;
}
@media only screen and (max-width: 960px)  {
    .about{
        padding: 30px 0;
    }
}
@media only screen and (max-width: 540px)  {
    .about{
        padding: 315x 0;
    }
}