// FAQs

.faqs{
    padding: 100px 0;
    background-color: $color-primary;
}
.faqs__list{
    list-style: none;
}
.faqs__ques{
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover{
        font-weight: 600;
    }
    @include flex-between();
    span{
        font-size: 20px;
        line-height: 24px;
    }
    .bx{
        font-size: 22px;
    }
}
.faqs__answ{
    font-size: 14px;
    line-height: 180%;
    opacity: 0.6;
    display: none;
}
.faqs__item{
    border-bottom: 1px solid #000;
    padding: 5px 0;
}
.openUp{
    display: block;
}
.hide-btn{
    display: block;
}