// Hero

.hero{
    background-image: url("/images/hero-bg.png");
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__inner{
    @include flex-between();
}
.hero__title{
    font-weight: 700;
    font-size: 38px;
    line-height: 150%;
    text-transform: uppercase;
    color: $color-secondary;
}

.hero__par{
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 80px;
}
.site__btn{
    border: none;
    cursor: pointer;
    padding: 16px 64px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: #000000;
    border-radius: 66px;
    transition: all ease 0.2s;
    color: #fff;

        &:hover{
            background: #58E065;
            color: $color-secondary;
        }
}
@media only screen and (max-width: 960px)  {
    .hero__imgbox {
        display: none;
    }
    .site__btn{
      margin-bottom: 30px;
    }
}
@media only screen and (max-width: 720px)  {
    .hero__title{
        font-size: 30px;
    }
    .hero__par{
        font-size: 16px;
        margin-bottom: 30px;
    }
    .site__btn{
        padding: 10px 28px;
        font-size: 10px;
    }
}
@media only screen and (max-width: 540px)  {
    .hero__title{
        font-size: 26px;
    }
    .hero__par{
        font-size: 14px;
    }
}

