// Privacy

.privacy{
    padding: 40px 0;

        p{
            font-size: 14px;
            line-height: 24px;
            color: #000000b3;
            margin-bottom: 22px;
        }
}
.privacy__desc{
    margin-top: 20px;
}
.privacy__item{
    font-size: 14px;
    line-height: 24px;
    color: #000000b3;
    margin-bottom: 8px;
}